<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}
    <title>Ulas's Job Site</title>
    <!--
    <style>
        h1{

        }
        .classname{

        }
        #idname{

        }
    </style>-->
</head>
<body>
    {% include 'navbar.html' %}
    <style></style>
    <h1 class="text-primary" >{{companyname}}'s Job Page</h1>
    <img src="/static/Ulas_website.png" class="img-fluid" alt="Ulas_website">
    
    <div class="border-bottom" style="margin-top: 10px;">
    {% for i in range(11) %}
        {% include 'sayminame.html' %}
    {% endfor %}
    </div>
    
    <div class="border-bottom" style="margin-top: 10px;">
    {% for job in jobs %}
        {% include 'jobitem.html' %}
    {% endfor %}
    </div>

    <div class="d-grid gap-2 col-2 mx-auto" style="margin-top: 10px; margin-bottom: 6px;;">
        <a href="mailto:ulasayyilmaz@gmail.com?subject=Inquiry%20from%20Website" class="btn btn-primary" style="btn-color: blue" type="button">Contact Me</button>
    </div>
</body>
</html>