<div class = "row">
    <div class = "col-9">
        <div class="text-primary" ><h2>Name: {{job['id']}}</h2></div>
        {% if 'location' in job %}
            <div><h4>Location: {{job['location']}}</h4></div>
        {% endif %}
        {% if 'salary' in job %}
            <div><h4>Salary: {{job['salary']}}</h4></div>
        {% endif %}
    </div>
    <div class = "col-3">
        <a href="mailto:ulasayyilmaz@gmail.com?subject=Application%20For%20{{job['id']}}&body=Name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0ACV%20URL%3A%20%3CCV%20URL%20HERE%3E%0D%0A%0D%0AWho%20are%20you%3A%20%3CTell%20me%20briefly%20a%20bit%20about%20you.%3E" type="button" class="btn btn-info btn-lg">Apply</a>
    </div>
</div>